<main>
    <div>
        <h1 class="text-center text-uppercase">Hello World</h1>
        <h2 class="text-end text-lowercase">Hello World</h2>
        <h3 class="text-capitalize">nello world wello korld mello corld</h3>

        <hr>

        <div class="display-1 text-muted">Hello World</div>
        <div class="display-5">Hello World</div>
        <div class="display-6">Hello World</div>

        <hr>
        <div class="text-muted text-end">
            Додатковий <span class="display-6">текст</span>
        </div>
    </div>
    <hr>
    <div>
        <button class="btn btn-success">
            Test button
        </button>
        <button class="btn btn-warning">
            Test button
        </button>
        <button class="btn btn-info">
            Test button
        </button>
        <button class="btn btn-light">
            Test button
        </button>
        <button class="btn btn-dark">
            Test button
        </button>
        <a href="#" class="btn btn-link">
            Test button
        </a>
    </div>
    <br>
    <br>
    <div class="card">
        <div class="card-body">
            <p class="text-primary"> My text</p>

            <p class="text-muted"> My text</p>

            <p class="text-success"> My text</p>

            <p class="text-warning"> My text</p>

            <p class="text-info"> My text</p>
        </div>
    </div>
    <br>
    <br>
    <div>
        <button class="btn btn-outline-primary">
            Test button
        </button>

        <button class="btn btn-outline-secondary">
            Test button
        </button>

        <button class="btn btn-outline-warning">
            Test button
        </button>

        <button class="btn btn-outline-dark">
            Test button
        </button>
    </div>
    <br>
    <br>
    <div class="card">
        <div class="card-body">
            <button class="btn btn-outline-secondary btn-lg">
                Test button
            </button>

            <button class="btn btn-outline-primary">
                Test button
            </button>

            <button class="btn btn-outline-warning btn-sm">
                Test button
            </button>
        </div>
    </div>
    <br>


    <div class="card">
        <div class="card-body">
            London is capital Great Britain
            <button class="btn btn-outline-secondary btn-lg">
                Test button
            </button>

            <button class="btn btn-outline-primary">
                Test button
            </button>

            <button class="btn btn-outline-warning btn-sm">
                Test button
            </button>
        </div>
    </div>


    // ================================================================
    // ================================================================


    <div>
        <div class="card">
            <div class="nav">
                <div class="nav-item">
                    <a href="/summary" class="nav-link">Link</a>
                </div>
                <div class="nav-item">
                    <a href="/skills" class="nav-link active">Bootstrap</a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link disabled">FAQ page</a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <div class="card">
            <div class="card-body">
                <div class="nav flex-column">
                    <div class="nav-item">
                        <div class="card">
                            <a href="/summary" class="nav-link">Link</a>
                        </div>
                    </div>
                    <div class="nav-item">
                        <a href="/skills" class="nav-link active">Bootstrap</a>
                    </div>
                    <div class="nav-item">
                        <a href="#" class="nav-link disabled">FAQ page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>



    <div>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <div class="nav flex-column">
                            <div class="nav-item">
                                <div class="card">
                                    <a href="/summary" class="nav-link">Link</a>
                                </div>
                            </div>
                            <div class="nav-item">
                                <a href="/skills" class="nav-link active">Bootstrap</a>
                            </div>
                            <div class="nav-item">
                                <a href="#" class="nav-link disabled">FAQ page</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <br>
        <br>
        <br>

        <div>
            <div class="row g-4">
                <div class="col-12">
                    <div class="nav nav-tabs">
                        <div class="nav flex-column">
                            <div class="nav-item">
                                <a href="/summary" class="nav-link">Link</a>
                            </div>
                        </div>
                        <div class="nav-item">
                            <a href="/skills" class="nav-link active">Bootstrap</a>
                        </div>
                        <div class="nav-item">
                            <a href="#" class="nav-link disabled">FAQ page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <br>
        <br>
        <br>
        <br>



        <div class="col-8">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">HOME</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">PC and Nout</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">MCbook</a>
                </li>
            </ol>
        </div>

        <br>
        <br>
        <br>
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">HOME</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">PC and Nout</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">MCbook</a>
                        </li>
                    </ol>
                </div>
                <div class="col-12">
                    <h6>Hello world <span class="badge text-bg-primary rounded-pill">NEW</span></h6>
                    <button class="btn btn-primary rounded-pill">Click</button>

                    <div class="alert alert-primary mt-3">This is info super</div>
                </div>
            </div>
        </div>

        <div class="row gy-5">
            <section class="col-12">
                <div class="card">
                    <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product photo">
                    <div class="card-body">
                        <h5 class="card-title">Ноутбук Acer</h5>
                        <div>Ноутбук Acer Aspire 7 A715-42G-R3EZ</div>
                        <br>
                        <a href='/summary' class="btn btn-primary">Open</a>
                    </div>
                </div>
            </section>
            <section class="col-3">
                <div class="card">
                    <div class="card-header">
                        <div>Menu</div>
                    </div>
                    <ul class="list-group">

                        <li class="list-group-item">
                            <a href="#" class="btn btn-link">Home</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="btn btn-link">Work</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="btn btn-link">Fly</a>
                        </li>

                    </ul>
                    <div class="card-footer">
                        <button class="btn btn-dark">Update list</button>
                    </div>
                </div>

            </section>
            <section class="col-6">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>
                                #id
                            </th>
                            <th>
                                #name
                            </th>
                            <th>
                                #age
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>100</td>
                            <td>120</td>
                            <td>1150</td>
                        </tr>
                        <tr>
                            <td>1000</td>
                            <td>1200</td>
                            <td>11500</td>
                        </tr>
                        <tr>
                            <td>1000</td>
                            <td>1200</td>
                            <td>11500</td>
                        </tr>
                        <tr>
                            <td>1000</td>
                            <td>1200</td>
                            <td>11500</td>
                        </tr>
                        <tr>
                            <td>1000</td>
                            <td>1200</td>
                            <td>11500</td>
                        </tr>
                        <tr>
                            <td>1000</td>
                            <td>1200</td>
                            <td>11500</td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <section class="col-6">
                <div class="row gx-2 gy-2">
                    <div class="col-6">
                        <div class="card text-bg-success">
                            <div class="card-header text-center">Header</div>
                            <div class="card-body text-center">
                                <h6 class="card-title">NBA</h6>
                                <p>I love this game</p>
                                <button class="btn btn-light">Click</button>
                            </div>
                            <div class="card-footer text-center">footer</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-bg-success">
                            <div class="card-header text-center">Header</div>
                            <div class="card-body text-center">
                                <h6 class="card-title">NBA</h6>
                                <p>I love this game</p>
                                <button class="btn btn-light">Click</button>
                            </div>
                            <div class="card-footer text-center">footer</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-bg-success">
                            <div class="card-header text-center">Header</div>
                            <div class="card-body text-center">
                                <h6 class="card-title">NBA</h6>
                                <p>I love this game</p>
                                <button class="btn btn-light">Click</button>
                            </div>
                            <div class="card-footer text-center">footer</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-bg-success">
                            <div class="card-header text-center">Header</div>
                            <div class="card-body text-center">
                                <h6 class="card-title">NBA</h6>
                                <p>I love this game</p>
                                <button class="btn btn-light">Click</button>
                            </div>
                            <div class="card-footer text-center">footer</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-bg-success">
                            <div class="card-header text-center">Header</div>
                            <div class="card-body text-center">
                                <h6 class="card-title">NBA</h6>
                                <p>I love this game</p>
                                <button class="btn btn-light">Click</button>
                            </div>
                            <div class="card-footer text-center">footer</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-bg-success">
                            <div class="card-header text-center">Header</div>
                            <div class="card-body text-center">
                                <h6 class="card-title">NBA</h6>
                                <p>I love this game</p>
                                <button class="btn btn-light">Click</button>
                            </div>
                            <div class="card-footer text-center">footer</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-bg-success">
                            <div class="card-header text-center">Header</div>
                            <div class="card-body text-center">
                                <h6 class="card-title">NBA</h6>
                                <p>I love this game</p>
                                <button class="btn btn-light">Click</button>
                            </div>
                            <div class="card-footer text-center">footer</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-bg-success">
                            <div class="card-header text-center">Header</div>
                            <div class="card-body text-center">
                                <h6 class="card-title">NBA</h6>
                                <p>I love this game</p>
                                <button class="btn btn-light">Click</button>
                            </div>
                            <div class="card-footer text-center">footer</div>
                        </div>
                    </div>

                </div>

</main>
<br>
<br>
<br>
<br>
<br>
<br>
//==========================================
//=============================================
//================================================
<br>
<br>

<main>
    <second class="p-5">
        <div class="row g-5">
            <div class="col-12">

                <label class="form-label">My address</label>
                <input class="form-control">
                <div class="form-text text-danger">ERROR, You need to set correct e-mail</div>

            </div>

            <div class="col-12">

                <label class="form-label">My address</label>
                <div class="row">
                    <div class="col-3">
                        <input type="color" class="form-control">
                    </div>
                    <div class="col-3">
                        <input type="color" class="form-control">
                    </div>
                    <div class="col-3">
                        <input type="color" class="form-control">
                    </div>
                </div>
                <div class="form-text text-danger">ERROR, You need to set correct e-mail</div>

            </div>

            <div class="col-12">
                <div class="row">
                    <div class="col-2 pt-1">
                        <label class="form-label">My address</label>
                    </div>
                    <div class="col-6">
                        <input class="form-control">
                    </div>
                    <div class="col-4 ps-5 pt-1">
                        <div class="form-text text-danger">ERROR, You need to set correct e-mail</div>
                    </div>
                </div>
            </div>

            <div>
                <hr>
            </div>

            <div class="col-12">

                <label class="form-label">Select role</label>
                <select class="form-select form-select-lg">
                    <option selected>Open list</option>
                    <option value="1">Admin</option>
                    <option value="2">User</option>
                </select>
                <div class="form-text text-danger">Error, You need to set correct e-mail</div>
            </div>

            <div>
                <hr>
            </div>

            <div class="col-12">
                <div class="form-label">Select role</div>

                <div class="form-check">
                    <label class="form-check-label">Apple</label>
                    <input name="food" type="checkbox" class="form-check-input">
                </div>
                <div class="form-check">
                    <label class="form-check-label">Orange</label>
                    <input name="food" type="checkbox" class="form-check-input">
                </div>
                <div class="form-check">
                    <label class="form-check-label">Banan</label>
                    <input name="food" type="checkbox" class="form-check-input">
                </div>
            </div>



            <div class="col-12">
                <div class="form-label">Select role</div>

                <div class="form-check">
                    <label class="form-check-label">Apple</label>
                    <input name="food" type="radio" class="form-check-input">
                </div>
                <div class="form-check">
                    <label class="form-check-label">Orange</label>
                    <input name="food" type="radio" class="form-check-input">
                </div>
                <div class="form-check">
                    <label class="form-check-label">Banan</label>
                    <input name="food" type="radio" class="form-check-input">
                </div>
            </div>


            <div class="col-12">
                <div class="form-check form-switch">
                    <label class="form-check-label">Get bonus</label>
                    <input name="food" type="checkbox" class="form-check-input">
                </div>
                <div class="form-check form-switch">
                    <label class="form-check-label">Get z Ukr</label>
                    <input name="food" type="checkbox" class="form-check-input">
                </div>
            </div>

       </div>


    </second>
     ///////====================================================================


                /////////============================================================================


                //////===========================================================================================================


                <div class="p-5">

                    <i class="bi bi-airplane"></i>


                    <button class="btn btn-primary"> Hello <i class="bi bi-android"></i></button>


                </div>

                <div>
                    <i class="fa-brands fa-facebook fa-beat fa-sm" style="color: #c7d0e1;"></i>
                </div>

                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
                        <style>
                            svg {
                                fill: #742531
                            }
                        </style>
                        <path
                            d="M287.9 0c9.2 0 17.6 5.2 21.6 13.5l68.6 141.3 153.2 22.6c9 1.3 16.5 7.6 19.3 16.3s.5 18.1-5.9 24.5L433.6 328.4l26.2 155.6c1.5 9-2.2 18.1-9.6 23.5s-17.3 6-25.3 1.7l-137-73.2L151 509.1c-8.1 4.3-17.9 3.7-25.3-1.7s-11.2-14.5-9.7-23.5l26.2-155.6L31.1 218.2c-6.5-6.4-8.7-15.9-5.9-24.5s10.3-14.9 19.3-16.3l153.2-22.6L266.3 13.5C270.4 5.2 278.7 0 287.9 0zm0 79L235.4 187.2c-3.5 7.1-10.2 12.1-18.1 13.3L99 217.9 184.9 303c5.5 5.5 8.1 13.3 6.8 21L171.4 443.7l105.2-56.2c7.1-3.8 15.6-3.8 22.6 0l105.2 56.2L384.2 324.1c-1.3-7.7 1.2-15.5 6.8-21l85.9-85.1L358.6 200.5c-7.8-1.2-14.6-6.1-18.1-13.3L287.9 79z" />
                    </svg>
                </div>

                <div>
                    <img src="/svg/fb.svg">
                </div>
</main>
