<main>
    <div>
        <h1 class="text-center text-uppercase">Hello World</h1>
        <h2 class="text-end text-lowercase">Hello World</h2>
        <h3 class="text-capitalize">nello world wello korld mello corld</h3>

        <hr>

        <div class="display-1 text-muted">Hello World</div>
        <div class="display-5">Hello World</div>
        <div class="display-6">Hello World</div>

        <hr>
        <div class="text-muted text-end">
            Додатковий <span class="display-6">текст</span>
        </div>
    </div>
    <hr>
    <div>
        <button class="btn btn-success">
            Test button
        </button>
        <button class="btn btn-warning">
            Test button
        </button>
        <button class="btn btn-info">
            Test button
        </button>
        <button class="btn btn-light">
            Test button
        </button>
        <button class="btn btn-dark">
            Test button
        </button>
        <a href="#" class="btn btn-link">
            Test button
        </a>
    </div>
    <br>
    <br>
    <div class="card">
        <div class="card-body">
            <p class="text-primary"> My text</p>

            <p class="text-muted"> My text</p>

            <p class="text-success"> My text</p>

            <p class="text-warning"> My text</p>

            <p class="text-info"> My text</p>
        </div>
    </div>
    <br>
    <br>
    <div>
        <button class="btn btn-outline-primary">
            Test button
        </button>

        <button class="btn btn-outline-secondary">
            Test button
        </button>

        <button class="btn btn-outline-warning">
            Test button
        </button>

        <button class="btn btn-outline-dark">
            Test button
        </button>
    </div>
    <br>
    <br>
    <div class="card">
        <div class="card-body">
            <button class="btn btn-outline-secondary btn-lg">
                Test button
            </button>

            <button class="btn btn-outline-primary">
                Test button
            </button>

            <button class="btn btn-outline-warning btn-sm">
                Test button
            </button>
        </div>
    </div>
    <br>


    <div class="card">
        <div class="card-body">
            London is capital Great Britain
            <button class="btn btn-outline-secondary btn-lg">
                Test button
            </button>

            <button class="btn btn-outline-primary">
                Test button
            </button>

            <button class="btn btn-outline-warning btn-sm">
                Test button
            </button>
        </div>
    </div>
</main>