<main>
    <div>
        <ul>
            <div class="mb-5">
                <h1>{{make}} {{model}}</h1>
            </div>

            <p><b>Year:</b> {{year}}</p>
            <p><b>Color:</b> {{color}}</p>
    </div>
    <hr>

    <div>
        <ul>
            {{> carInterior}}

            {{> carExterior}}


        </ul>
    </div>
</main>