<main>
    <div class="row">
        <div class="p-5">
            <div class="mb-4 mt-1">
                <h1>{{title}}</h1>
            </div>
            <div>
                <div class="mb-5 col-11">{{description}}</div>
                <div class="row">
                    {{#each pages}}
                    <div class="row col-4 px-3">
                        <a href="{{url}}" class="btn btn-primary mb-2">{{name}}</a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

    </div>

</main>